<%= form_for(@local_participation_record) do |f| %>
  <% if @local_participation_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local_participation_record.errors.count, "error") %> prohibited this local_participation_record from being saved:</h2>

      <ul>
      <% @local_participation_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :board_id %><br>
    <%= f.number_field :board_id %>
  </div>
  <div class="field">
    <%= f.label :num_moves %><br>
    <%= f.number_field :num_moves %>
  </div>
  <div class="field">
    <%= f.label :num_invites %><br>
    <%= f.number_field :num_invites %>
  </div>
  <div class="field">
    <%= f.label :xpos %><br>
    <%= f.number_field :xpos %>
  </div>
  <div class="field">
    <%= f.label :ypos %><br>
    <%= f.number_field :ypos %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
