<p id="notice"><%= notice %></p>

<h1>Listing Turns</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Friend username</th>
      <th>Board</th>
      <th>Command</th>
      <th>Xpos</th>
      <th>Ypos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.user_id %></td>
        <td><%= turn.friend_username %></td>
        <td><%= turn.board_id %></td>
        <td><%= turn.command %></td>
        <td><%= turn.xpos %></td>
        <td><%= turn.ypos %></td>
        <td><%= link_to 'Show', turn %></td>
        <td><%= link_to 'Edit', edit_turn_path(turn) %></td>
        <td><%= link_to 'Destroy', turn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Turn', new_turn_path %>
