<p id="notice"><%= notice %></p>

<p>
  <strong>Top left x:</strong>
  <%= @region.top_left_x %>
</p>

<p>
  <strong>Top left y:</strong>
  <%= @region.top_left_y %>
</p>

<p>
  <strong>Height:</strong>
  <%= @region.height %>
</p>

<p>
  <strong>Width:</strong>
  <%= @region.width %>
</p>

<p>
  <strong>Title:</strong>
  <%= @region.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @region.description %>
</p>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
